<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


<bean name="collectionBean" class="com.cts.collections.Emp">

<property name="name">
	<value>Rahul</value>
</property>

<property name="phones">

	<list>
	<value>9394934939</value>
	<value>9294934922</value>
	<value>9594934970</value>
	<value>9794934945</value>
	<value>9994934999</value>
	<value>9894934900</value>
	
	</list>

</property>
	
	
<property name="address">

	<set>
	
		<value>Hyderabad</value>
		<value>Chennai</value>
		<value>Pune</value>
		<value>Kalkatta</value>
		
	
	</set>

</property>	
	
<property name="courses">

	<map>

	<entry key="java" value="2 Months"/>
	<entry key="python" value="1 Month"/>
	<entry key="oracle" value="2 Months"/>
	<entry key="javafullstack" value="3 Months"/>
	
	</map>
</property>
	</bean>


   </beans>